<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Listenproj</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}{% endblock %}
        {% if login %}
        <p>Logged in as <b>{{ login }}</b> <a href="/logout">Logout</a></p>
        {% endif %}
    </header>

    {% block content %}{% endblock %}
</body>
</html>