{% extends 'base.html' %}


{% block header %}
	<h1>{% block title %}Login{% endblock %}</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/reddit">Reddit</a>
    </nav>
{% endblock %}


{% block content %}
<form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">
    <input type="submit" value="Sign in">
</form>
{% endblock %}