{% extends 'base.html' %}


{% block header %}
	<h1>{% block title %}Reddit{% endblock %}</h1>
    <nav>
        <a href="/">Home</a>
        {% if not login %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </nav>
{% endblock %}


{% block content %}
    <h2>Some songs from r/listentothis:</h2>
    {% if login %}
    <div class="center">
        <form action="/reddit" method="post">
            <input type="submit" value="Add Playlist to Account">
        </form>
    </div>
    {% endif %}
    <div class="tracks">
    {% for track in tracks %}
        {% if login %}
        <iframe src="https://open.spotify.com/embed/track/{{ track['track_id'] }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% else %}
        <div class="track">
            <div class="track"><p>{{ track['artist'] }} - {{ track['title'] }}</p></div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}