{% extends 'base.html' %}


{% block header %}
	<h1>{% block title %}Reddit{% endblock %}</h1>
    <nav>
        <a href="/">Home</a>
        {% if not login %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </nav>
{% endblock %}


{% block content %}
    <h2>Some songs from r/listentothis:</h2>
    <ul>
    {% for track in tracks %}
        <li>{{ track['artist'] }} - {{ track['title'] }}</li>
    {% endfor %}
    </ul>

    <form action="/reddit" method="post">
        <input type="submit" value="Add Playlist to Account">
    </form>
{% endblock %}