body {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #0f0f0f;
    margin: 0 auto;
    max-width: 60em;
    text-align: justify;
    text-justify: inter-word;
}

.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start
    width: 950px;
}

.art {
    flex-basis: auto;
    margin-right: 1em;
}

.art img {
    width: 100px;
}

.track {
    flex-basis: auto;
}

.center {
    text-align: center;
}